<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>1B9109FC-CC30-46FC-9912-1FB99E6BF1CE.playgroundpage</string>
		<string>BBB41415-670B-49DA-8B9A-BF01EEB6A138.playgroundpage</string>
		<string>C3EC7784-BBA5-4598-99F2-0CF28EA7009B.playgroundpage</string>
		<string>6842B79C-2CA1-4532-A666-0396EB06BED4.playgroundpage</string>
		<string>C0DB5DB9-ACCC-400A-A229-745ED416257E.playgroundpage</string>
	</array>
</dict>
</plist>
